$primary-color: #000;
$secondary-color: #b48c35;
$ternary-color: #000;
$background: #0000001a;
$white-color: #fff;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300);

body {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 32px !important;
  color: #444 !important;
  height: 100%;
}

p {
  text-align: justify;
}

.anchor {
  color: $primary-color;
  text-decoration: none;
  &:hover {
    color: $ternary-color;
  }
}

h2 {
  font-weight: 600;
}

// @mixin line($width, $height) {
//     .span-line {
//         width: $width;
//         left: 0;
//         bottom: 0;
//         height: $height;
//     }
// }

#all-items {
  .custom1 {
    top: 130px;
    z-index: 0;
  }
  .input-group {
    width: 100% !important;
  }
}

#all {
  .badge {
    font-size: 1rem !important;
  }
}

#top-header {
  background-color: $secondary-color;
}

#main-header {
  box-shadow: 1px 1px 1px #ceced4;
  .nav-item {
    border-right: 1px solid $secondary-color;
    padding: 0px 20px;
    &:last-child {
      border-right: 0px;
    }
    .nav-link {
      padding: 0px;
      color: $secondary-color;
      font-weight: 600;
      text-transform: uppercase;
      &:hover {
        color: $ternary-color;
      }
    }
  }
}

#slider {
  position: relative;
  p {
    font-size: 18px;
  }
  .form-control {
    background: $primary-color;
    border: none;
    border-radius: 0px;
    font-size: 14px;
    &::placeholder {
      color: $secondary-color;
    }
  }
  .floatingTextarea2 {
    height: 50px;
  }
}

#second-section {
  background: $background;

  li {
    font-size: 16px;
  }
}

#amenities {
  #amenities-slider {
    position: relative;
  }
  .owl-prev {
    position: absolute;
    bottom: 40%;
    background-color: $background;
    left: -5%;
    width: 38px;
    border-radius: 50%;
    span {
      font-size: 24px;
      font-weight: bold;
    }
  }
  .owl-next {
    position: absolute;
    bottom: 40%;
    background-color: $background;
    right: -5%;
    width: 38px;
    border-radius: 50%;
    span {
      font-size: 24px;
      font-weight: bold;
    }
  }
}

#location {
  background: $background;
}

#floor-plans {
  background: $background;
  .thumb-1 {
    border: 1px solid $ternary-color;
  }
  .nav-pills {
    .nav-link {
      background-color: $secondary-color;
      color: $white-color;
      margin: 0px 5px;
      &.active,
      &:hover {
        color: $primary-color;
        border-color: $primary-color $primary-color $white-color !important;
      }
    }
  }
}

#master-plan {
  .thumb-1 {
    border: 1px solid $ternary-color;
  }
  .blur {
    filter: blur(2px);
  }
  .nav-pills {
    .nav-link {
      background-color: $secondary-color;
      color: $white-color;
      margin: 0px 5px;
      &.active,
      &:hover {
        color: $primary-color;
        border-color: $primary-color $primary-color $white-color !important;
      }
    }
  }
}

#virtual-tour {
  background: $background;
  #video {
    height: 400px;
    width: 300px;
  }
}

#li-ri-btn {
  .right-fix-btn {
    position: fixed;
    right: -68px;
    z-index: 999;
    top: 48%;
    width: 170px;
    text-align: center;
    background-color: #951225;
    transform: rotate(-90deg);
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    a {
      display: block;
      color: #fff;
      text-decoration: none;
      line-height: 35px;
      padding: 0 0;
    }
  }
  .left-fix-btn {
    position: fixed;
    left: -69px;
    z-index: 999;
    top: 48%;
    width: 170px;
    text-align: center;
    background-color: #00759b;
    transform: rotate(-90deg);
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    a {
      display: block;
      color: #fff;
      text-decoration: none;
      line-height: 35px;
      padding: 0 0;
    }
  }
}

#desktop-fix {
  z-index: 1;
  .custom {
    z-index: 4;
    left: 1%;
    bottom: 0%;
  }
}
#mobile-fix {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

#modal {
  .btn-close {
    z-index: 2;
    opacity: 1;
    top: 2%;
  }
}

#footer {
  a {
    text-decoration: none;
    font-weight: 500;
  }
}

@media screen and (max-width: 768px) {
  #pricing-sheet {
    td {
      font-size: 10px;
      font-weight: 600;
    }
    .btn-sm {
      font-size: 10px;
    }
  }
  #custom-content {
    position: initial !important;
    .container {
      position: initial !important;
    }
    .translate-middle {
      transform: translate(0%, 0%) !important;
    }
  }
  #main-header {
    // .menu-area {
    //   position: static;
    // }
    // .mega-area {
    //   position: absolute;
    //   width: 80%;
    //   left: 0;
    //   right: 0;
    //   padding: 15px;
    // }
    .col-md-3 {
      width: 100%;
    }
    .dropdown-menu {
      width: 100%;
      &[data-bs-popper] {
        left: -182px;
      }
      .dropdown-item {
        color: $secondary-color;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 14px;
        &:hover {
          color: $primary-color;
          background-color: transparent;
        }
      }
    }
  }
  #first-section {
    background-color: $secondary-color;
    p {
      font-size: 16px;
      font-weight: 600;
      color: $primary-color;
    }
    h3 {
      font-weight: 600;
    }
    .custom {
      color: $secondary-color;
      margin-top: 10px;
    }
  }

  #slider {
    .slide-first-text {
      left: 50%;
      background-color: $secondary-color;
    }
    .slide-text {
      background-color: $background;
      p {
        color: $white-color !important;
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1920px) {
  #custom-content {
    .container {
      z-index: 1;
    }
    .translate-middle {
      transform: translate(-50%, -75%) !important;
    }
  }
  #main-header {
    span {
      font-size: 0.5rem;
    }
    .menu-area {
      position: static;
    }
    .mega-area {
      position: absolute;
      width: 80%;
      left: 10%;
      right: 0;
      padding: 15px;
    }
    // .dropdown:hover .dropdown-menu,
    // .dropdown:hover .dropdown-menu [data-bs-popper] {
    //   left: -170%;
    //   transition: all 0.5s;
    // }
    .dropdown-menu {
      .col-md-3 {
        width: 20%;
      }
      //   width: 450%;
      top: 90%;
      //   &[data-bs-popper] {
      //     left: -170%;
      //   }
      .dropdown-item {
        color: $secondary-color;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 14px;
        &:hover {
          color: $primary-color;
          background-color: transparent;
        }
      }
    }
  }
  #first-section {
    background-color: $secondary-color;
    p {
      font-size: 16px;
      font-weight: 600;
      color: $primary-color;
    }
    h3 {
      font-weight: 600;
    }
    .custom {
      color: $secondary-color;
    }
  }
  #slider {
    .slide-first-text {
      position: absolute;
      left: 30%;
      top: 10%;
    }
    .slide-text {
      position: absolute;
      width: 400px;
      top: 10%;
      left: 0.3%;
      float: end;
      background-color: $white-color;
    }
    .form {
      z-index: 1;
    }
  }
}

.iti__flag {
  background-image: url("../countrycode/img/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("../countrycode/img/flags@2x.png");
  }
}

.iti--allow-dropdown {
  width: 100%;
}

//light box css

.lb-loader,
.lightbox {
  text-align: center;
  line-height: 0;
  position: absolute;
  left: 0;
}
body.lb-disable-scrolling {
  overflow: hidden;
}
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #000;
  filter: alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}
.lightbox {
  width: 100%;
  z-index: 10000;
  font-weight: 400;
  outline: 0;
}
.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;
  border: 4px solid #fff;
}
.lightbox a img {
  border: none;
}
.lb-outerContainer {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: #fff;
}
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}
.lb-loader {
  top: 43%;
  height: 25%;
  width: 100%;
}
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/loading.gif) no-repeat;
}
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
.lb-container > .nav {
  left: 0;
}
.lb-nav a {
  outline: 0;
  background-image: url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==);
}
.lb-next,
.lb-prev {
  height: 100%;
  cursor: pointer;
  display: block;
}
.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../images/prev.png) left 48% no-repeat;
  filter: alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.lb-nav a.lb-prev:hover {
  filter: alpha(Opacity=100);
  opacity: 1;
}
.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../images/next.png) right 48% no-repeat;
  filter: alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.lb-nav a.lb-next:hover {
  filter: alpha(Opacity=100);
  opacity: 1;
}
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}
.lb-data {
  padding: 0 4px;
  color: #ccc;
}
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: 700;
  line-height: 1em;
}
.lb-data .lb-caption a {
  color: #4ae;
}
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999;
}
.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/close.png) top right no-repeat;
  text-align: right;
  outline: 0;
  filter: alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: alpha(Opacity=100);
  opacity: 1;
}

//light box css ends
